body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

input[type="file"] {
    margin: 20px 0;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#status {
    color: #555;
}

a {
    text-decoration: none;
    color: #007bff;
}

.text-error {
    color: red !important;
}

.text-green {
    color: green !important;
}
.text-warning {
    color: yellow !important;
}
